.react-select-container .react-select__control {
          border: 1px solid #d1d5db;
          border-radius: 0.5rem;
          min-height: 42px;
          box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
        }
        .react-select-container .react-select__control--is-focused {
          border-color: #8b5cf6;
          box-shadow: 0 0 0 2px rgba(139, 92, 246, 0.5);
        }
        .react-select-container .react-select__option--is-selected {
          background-color: #8b5cf6;
        }
        /* .react-select-container .react-select__option--is-focused {
          background-color: #ede9fe;
        } */