@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --color-primary: #4f46e5;
  --color-secondary: #9333ea;
  --color-surface: #ffffff;
  --color-background: #f9fafb;
  --color-text: #111827;
  --color-muted: #6b7280;
  --color-border: #e5e7eb;
  --color-yo: gray;
}

.dark {
  --color-primary: red;
  --color-secondary: #a855f7;
  --color-surface: #1e293b;
  --color-background: #0f172a;
  --color-text: #f3f4f6;
  --color-muted: #9ca3af;
  --color-border: #334155;
  --color-yo: cyan;
}
*{
  transition: background-color 1s ease, color 1s ease, border-color 1s ease;
}

